@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    height:644px;
    background-image: url("assets/images/bg.jpeg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}

.main .box {
    height: 644vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width:60vw;
    margin: auto;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {

    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero>:nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero>:nth-child(3) {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.sepration {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}
.flex{
    display: inline-flex;
    gap:10px;
}

.btn {
        display: inline-flex;
        font-size: medium;
    padding: 6px 16px;
    border-radius: 4px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    margin: 10px
}

.btn-red {
    font-size: x-large;
    background-color: red;
    color: white;
    padding: 7px 20px;
    font-weight: 550;
    border-radius: 4px;
}

.btn-red-sn {
    background-color: red;
    color: white;
}

.herobtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main input {
    padding:14px 176px 11px 14px;
    font-weight: 550;
    font-size: large;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}
